@()

<li><a href="https://twitter.com/ExNexu" target="_blank"><i class="icon-twitter"></i> Twitter</a></li>
<li><a href="https://github.com/ExNexu" target="_blank"><i class="icon-github"></i> Github</a></li>
<li><a href="https://plus.google.com/+StefanBleibinhaus" target="_blank"><i class="icon-google-plus" target="_blank"></i> Google+</a></li>
<li><a href="https://www.linkedin.com/profile/view?id=261390091" target="_blank"><i class="icon-linkedin" target="_blank"></i> Linkedin</a></li>
<li><a href="https://www.facebook.com/stefan.bleibinhaus" target="_blank"><i class="icon-facebook" target="_blank"></i> Facebook</a></li>
