@(
  title: String,
  user: Option[model.blog.User],
  breadcrumb: List[model.ui.BreadcrumbItem],
  sidebarContainer: model.ui.SidebarContainer,
  menuPoint: model.ui.MenuPoint.Value = model.ui.MenuPoint.Home)(
  addToHeaderHtml: Html)(
  addToBottomHtml: Html)(
  content: Html)(
  implicit adminLoginForm: Form[model.ui.LoginCredentials])

@base(title, user, menuPoint, adminLoginForm) {

<link href="@routes.Assets.at("stylesheets/jqueryui/jquery-ui.min.css")" rel="stylesheet">

@addToHeaderHtml

}{

<div class="row-fluid">
  <div class="span8">
    @displayBreadcrumb(breadcrumb)
    @content
  </div>
  <div class="span4">
    @sidebar.sidebarMain(sidebarContainer)
  </div>
</div><!-- /row-fluid -->

} {

<script src="@routes.Assets.at("javascripts/search.min.js")" type="text/javascript"></script>

@addToBottomHtml

}